body {
    background-color: #d3e9f0;
    font-family: cursive;
    font-size: large;
}

p {
    text-align: center;
    font-style: oblique;
    color: black;
    font-size: large;
}

h1 {
    font-size: x-large;
    font-family: cursive;
    color: navy;
    margin-left: 20px;
    text-align: center;
}