head {
    background-color: rgb(196, 238, 255);
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    color: chocolate;
}

body {
    background-color: rgb(196, 231, 255);
    color: saddlebrown;
}

h1 {
    text-align: left;
    color: darkblue;
}

h2 {
    text-align: left;
}

p {
    font-family: cursive;
}

form {
    border-style: groove;
    border-width: 2px;
    border-color: seagreen;
    text-decoration-color: blue;
    -moz-text-decoration-color: blue;
}