head {
    background: linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo, violet);
}

body {
    background: linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo, violet);
}